# MYSQL
#mysql/mariadb
MYSQL_ENGINE=mysql
MYSQL_VERSION=8.0
MYSQL_ROOT_PASSWORD=5454542211
MYSQL_DATABASE=whaticket
MYSQL_PORT=3406
TZ=America/Caracas

# BACKEND
BACKEND_PORT=
BACKEND_SERVER_NAME=api.mydomain.com
BACKEND_URL=https://api.mydomain.com
PROXY_PORT=443
JWT_SECRET=
JWT_REFRESH_SECRET=

# FRONTEND
FRONTEND_PORT=80
FRONTEND_URL=https://myapp.mydomain.com
HOURS_CLOSE_TICKETS_AUTO=

# BROWSERLESS
MAX_CONCURRENT_SESSIONS=

# PHPMYADMIN
PMA_PORT=

#NODE_ENV development production test coolify
NODE_ENV=
